<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>查找课程</title>
</head>
<body>
<form th:action="@{/course/search}" method="post">
    <div>
        <span id="spanError">&nbsp;</span>
        <span style="font-size:12px;color:red"
              th:text="${error}" aria-describedby="spanError"></span>
        <br/>
    </div>
    <div>
        <span id="idTag">课程编号</span>
        <input id="id" name="id" type="text"
               placeholder="c001" aria-describedby="idTag"/>
    </div>
    <div>
        <table border="1">
            <tr>
                <th>课程编号</th>
                <th>课程名称</th>
                <th>开课学院</th>
                <th>课程学分</th>
                <th>教师姓名</th>
            </tr>
            <tr>
                <td><span th:text="${course.id}">c0</span></td>
                <td><span th:text="${course.name}">null</span></td>
                <td><span th:text="${course.dept}">null</span></td>
                <td><span th:text="${course.credits}">0.0</span></td>
                <td><span th:text="${course.teacher.name}">null</span></td>
            </tr>
        </table>
    </div>
    <br/>
    <button name="action" value="search" type="submit" style="width:220px">查找</button>
    <button name="action" value="return" type="submit" style="width:220px">返回</button>
</form>
</body>
</html>