<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改教师信息</title>
</head>
<body>
<form th:action="@{/teacher/add}" method="post">
    <div>
        <span id="spanError">&nbsp;</span>
        <span style="font-size:12px;color:red"
              th:text="${error}" aria-describedby="spanError"></span>
        <br/>
    </div>
    <div>
        <span id="idTag">工号</span>
        <input id="id" name="id" type="text"
               placeholder="t001" aria-describedby="idTag"/>
    </div>
    <div>
        <span id="nameTag">姓名</span>
        <input id="name" name="name" type="text"
               placeholder="Jack" aria-describedby="nameTag"/>
    </div>
    <div>
        <span id="deptTag">学院</span>
        <input id="dept" name="dept" type="text"
               placeholder="CS" aria-describedby="deptTag"/>
    </div>
    <div>
        <span id="salaryTag">工资</span>
        <input id="salary" name="salary" type="number" min="0" max="1000000" step="100"
               placeholder="20000" aria-describedby="salaryTag"/>
    </div>
    <br/>
    <button name="action" value="add" type="submit" style="width:220px">修改</button>
</form>
<form th:action="@{/teacher/index}" method="get">
    <div>
        <button type="submit" style="width:220px">返回</button>
    </div>
</form>
</body>
</html>