<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<form th:action="@{/course/index}" method="get">
    <button type="submit" style="width:220px">课程管理</button>
</form>
<br>
<form th:action="@{/student/index}" method="get">
    <button type="submit" style="width:220px">学生管理</button>
</form>
<br>
<form th:action="@{/teacher/index}" method="get">
    <button type="submit" style="width:220px">教师管理</button>
</form>
<br>
<form th:action="@{/sc/index}" method="get">
    <button type="submit" style="width:220px">选课管理</button>
</form>
<br>
</body>
</html>