<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
<form th:action="@{/index}" method="post">
    <div>
        <span id = "basic-addon0">&nbsp;</span>
        <span style="font-size:12px;color:red"
              th:text="${error}" aria-describedby="basic-addon0"></span>
        <br/>
    </div>
    <div>
        <span id = "identityTag">身份</span>
        <select id = "identity" name = "identity" aria-describedby="identityTag">
            <option th:value="1">教师</option>
            <option th:value="2">学生</option>
        </select>
    </div>
    <div>
        <span id = "basic-addon1">账号</span>
        <input id = "id" name = "id" type = "text"
               placeholder="账号" aria-describedby="basic-addon1"/>
    </div>
    <br/>
    <button type="submit" style="width:220px">登录</button>
</form>
</body>
</html>